<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="shadowhand_motor">
    <xacro:include filename="$(find my_arm)/models/shadow_hand/materials.urdf.xacro"/>
    <xacro:include filename="$(find my_arm)/models/shadow_hand/hand/full_hand.urdf.xacro"/>
    <xacro:include filename="$(find my_arm)/models/shadow_hand/other/gazebo/gazebo.urdf.xacro"/>

    <gazebo>
      <!-- !NOTEE : MODEL PLUGIN TYPE ONLY -->
      <plugin name="gazebo_my_arm_control" filename="libgazeboRobotArmController.so">
          <robotNamespace></robotNamespace>
          <robotSimType>my_arm_gazebo_sim/DefaultRobotHWSim</robotSimType>
          <jointName>rh_world_joint,
                     rh_WRJ2,
                     rh_WRJ1,

                     rh_THJ5,
                     rh_THJ4,
                     rh_THJ3,
                     rh_THJ2,
                     rh_THJ1,
                     rh_THtip,

                     rh_FFJ4,
                     rh_FFJ3,
                     rh_FFJ2,
                     rh_FFJ1,

                     rh_MFJ4,
                     rh_MFJ3,
                     rh_MFJ2,
                     rh_MFJ1,

                     rh_RFJ4,
                     rh_RFJ3,
                     rh_RFJ2,
                     rh_RFJ1,

                     rh_LFJ5,
                     rh_LFJ4,
                     rh_LFJ3,
                     rh_LFJ2,
                     rh_LFJ1
          </jointName>
          <updateRate>100.0</updateRate>
          <alwaysOn>true</alwaysOn>
      </plugin>
    </gazebo>

    <!-- hand with cylindrical base drifts in gazebo, attach it to the world -->
    <link name="world" />
    <joint name="rh_world_joint" type="fixed">
      <parent link="world" />
      <child link="rh_forearm" />
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>
    <xacro:shadowhand muscletrans="false" muscle="false" bio="false" bt_sp="false"
                      ubi="false" eli="false" reflect="1.0" prefix="rh_" lf="true" />
</robot>
