<launch>
    <param name="robot_description"
        command="$(find xacro)/xacro --inorder '$(find my_arm)/models/myArm_softHand.xacro'" />

    <!-- send fake joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" >
        <param name="use_gui" value="TRUE"/>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
    <node name="robotArmController" pkg="my_arm" type="robotArmController" output="screen" />

</launch>
